.container {
  width: 500px;
  height: 500px;
  background-color: pink;
  position: relative;
}
.item1,
.item2,
.item3 {
  width: 100px;
  height: 100px;
}

.item1 {
  position: relative;
  background-color: beige;
  left: 60px;
  top: 30px;
}

.item2 {
  position: absolute;
  background-color: aqua;
  right: 30px;
  bottom: 100px;
}

.item3 {
  position: fixed;
  background-color: blueviolet;
  right: 100px;
  top: 100px;
}
